* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

body {
  min-height: 100vh;
}

header {
  display: flex;
  position: relative;
  justify-content: center;
  align-items: center;
  background: black;
  height: 10vh;
  margin: 2vw;
}

header h2 {
  color: white;
}

.search {
  display: flex;
  position: relative;
  height: 10vh;
  justify-content: center;
  background: blue;
}

.search form {
  display: flex;
  flex-direction: column;
}

.search form input {
  margin-bottom: 3vh;
}

.container {
  display: flex;
  position: relative;
  height: 50vh;
  background: red;
  padding: 3vh 2vw;
}

.container img {
  max-height: 15vh;
}